openai
chromadb
tiktoken
ipykernel
google-cloud-aiplatform
google-generativeai
llama-index-vector-stores-chroma
llama-index
llama-index-llms-vertex
llama-index-llms-gemini
langchain 
langchain-chroma 
langchain_openai
gradio
instructor