name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
    paths:
      - 'scripts/**'  # Replace with the path to your specific folder
      - 'requirements.txt'  # Add this line to include requirements.txt

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
        run: git push --force https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/towardsai-buster/ai-tutor-chatbot main:main
